body{
    background-color: aliceblue;
    padding:10px;
}
hr{
    border-bottom-width:1px;
    border-bottom-style:solid;
    border-bottom-color:black;
}
form{
    background:pink;
}
span{
    color: blue;
    font-weight:bold;
    font-size:20px;
    margin-left: 20px;
}

h1{
    text-align:center;
    color:brown;
}
body label, p{
    font-family: 휴먼편지체, serif;
    text-indent:1em;
    font: size 1em;
}

footer {
    background-color: orange; 
    border-radius: 10px; 
  }
  